<div class="container">
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Players</strong>
  <%= @game.players %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Draw:</strong>
  <% edit_game_path(@game.draw,@game.draw_t) %>
  <%= @game.draw %>
</p>

<%= link_to 'Back', games_path %>
</div>
